@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 80%;
}

@media (min-width: 640px) {
  html {
    font-size: 85%;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 95%;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 100%;
  }
}
